// JourneyMap配置文件。擅自修改存在风险！
// 若想在所有游戏世界中使用，请放入这里：journeymap\config\5.7\
// 想要获取更多信息，请访问：http://journeymap.info/Options_Manager
{
  "enabled": "false",
  "port": "8080",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.1"
}