// JourneyMap配置文件。擅自修改存在风险！
// 若想在所有游戏世界中使用，请放入这里：journeymap\config\5.7\
// 想要获取更多信息，请访问：http://journeymap.info/Options_Manager
{
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "enabled": "true",
  "shape": "Square",
  "position": "TopRight",
  "showDayNight": "true",
  "info1Label": "Blank",
  "info2Label": "GameTime",
  "info3Label": "Location",
  "info4Label": "Biome",
  "sizePercent": "30",
  "frameAlpha": "100",
  "terrainAlpha": "100",
  "orientation": "North",
  "compassFontScale": "3",
  "showCompass": "true",
  "showReticle": "true",
  "reticleOrientation": "Compass",
  "active": true,
  "playerDisplay": "SmallIcons",
  "showPlayerHeading": "true",
  "mobDisplay": "SmallIcons",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "3",
  "showWaypointLabels": "true",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showEntityNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "0",
  "configVersion": "5.7.1"
}