// JourneyMap配置文件。擅自修改存在风险！
// 若想在所有游戏世界中使用，请放入这里：journeymap\config\5.7\
// 想要获取更多信息，请访问：http://journeymap.info/Options_Manager
{
  "logLevel": "OFF",
  "autoMapPoll": "3000",
  "cacheAnimalsData": "3100",
  "cacheMobsData": "3000",
  "cachePlayerData": "1500",
  "cachePlayersData": "2000",
  "cacheVillagersData": "2200",
  "announceMod": "true",
  "checkUpdates": "false",
  "recordCacheStats": "false",
  "browserPoll": "2000",
  "themeName": "OceanMonument",
  "caveIgnoreGlass": "true",
  "mapBathymetry": "true",
  "mapTopography": "true",
  "mapTransparency": "true",
  "mapCaveLighting": "true",
  "mapAntialiasing": "false",
  "mapPlantShadows": "true",
  "mapPlants": "false",
  "mapCrops": "true",
  "mapBlendGrass": "true",
  "mapBlendFoliage": "true",
  "mapBlendWater": "true",
  "mapSurfaceAboveCaves": "false",
  "renderDistanceCaveMax": "3",
  "renderDistanceSurfaceMax": "8",
  "renderDelay": "3",
  "revealShape": "Circle",
  "alwaysMapCaves": "false",
  "alwaysMapSurface": "false",
  "tileHighDisplayQuality": "false",
  "maxAnimalsData": "24",
  "maxMobsData": "24",
  "maxPlayersData": "8",
  "maxVillagersData": "32",
  "hideSneakingEntities": "true",
  "radarLateralDistance": "64",
  "radarVerticalDistance": "16",
  "tileRenderType": "1",
  "mappingEnabled": "true",
  "renderOverlayEventTypeName": "ALL",
  "renderOverlayPreEvent": "true",
  "optionsManagerViewed": "5.7.1",
  "splashViewed": "5.7.1",
  "gridSpecs": {
    "day": "Squares,#808080,0.5,-1,-1",
    "night": "Squares,#8080ff,0.3,-1,-1",
    "underground": "Squares,#808080,0.3,-1,-1"
  },
  "colorPassive": "#bbbbbb",
  "colorHostile": "#ff0000",
  "colorPet": "#0077ff",
  "colorVillager": "#88e188",
  "colorPlayer": "#ffffff",
  "colorSelf": "#0000ff",
  "verboseColorPalette": "false",
  "configVersion": "5.7.1"
}