/.iasx
/.mixin.out
/asm
/assets
/astralsorcery
/BotaniaVars.dat
/cachedImages
/caches
/Code
/crafttweaker.log
/crash-reports
/CustomSkinLoader
/ExtraBotanyVars.dat
/journeymap
/launcher_profiles.json
/libraries
/local
/logs
/NVIDIA
/opframe_cache
/PCL.ini
/saves
/screenshots
/usercache.json
/usernamecache.json
/versions
/启动参数.txt