/.iasx
/.mixin.out
/asm
/assets
/astralsorcery
/BotaniaVars.dat
/cachedImages
/caches
/Code
/crafttweaker.log
/crash-reports
/CustomSkinLoader
/journeymap/data
/journeymap/icon
/journeymap/server
/journeymap/colorpalette.json
/journeymap/journeymap.log
/launcher_profiles.json
/libraries
/local
/logs
/NVIDIA
/opframe_cache
/PCL.ini
/saves
/screenshots
/usercache.json
/usernamecache.json
/versions
/servers.dat
/config/gregtech/terminal
/tv-cache
/fancymenu_setups
/config/jei/worldSettings.cfg
/config/jei/bookmarks.ini
/scripts/.zsrc
/update
/download
/.vscode
/stall-reports
/BiomeDump.txt
/mods/fancymenu
/mods/memory_repo
/mods/*-patched.jar
/mods/probe-0.1.24.jar
/mods/Caliper-1.12.2-1.1.46.jar
/hei_bookmarks.ini
/mods/CustomLoadingScreen-1.12.2-1.5.6.jar.disabled
/optionsshaders.txt
/discordsuite
/patchouli_books
