/.iasx
/.mixin.out
/asm
/assets
/astralsorcery
/BotaniaVars.dat
/cachedImages
/caches
/Code
/crafttweaker.log
/crash-reports
/CustomSkinLoader
/ExtraBotanyVars.dat
/journeymap/data
/journeymap/icon
/journeymap/server
/journeymap/colorpalette.json
/journeymap/journeymap.log
/launcher_profiles.json
/libraries
/local
/logs
/NVIDIA
/opframe_cache
/PCL.ini
/saves
/screenshots
/usercache.json
/usernamecache.json
/versions
/启动参数.txt
mods/CustomMC-1.12.2.jar
servers.dat
/config/gregtech/terminal
tv-cache
/fancymenu_setups
/config/jei/worldSettings.cfg
scripts/.zsrc
/update
/download
AudioBuffer
.vscode
/mods/AudioBuffer-1.0.jar
stall-reports
BiomeDump.txt
resources/mainmenu/back.psd
