# Configuration file

colour {
    # The color that is used for the border of the energy bar [range: -2147483648 ~ 2147483647, default: 0]
    I:BorderColorEnergy=-6815745

    # The color that is used for the border of the progress bar [range: -2147483648 ~ 2147483647, default: 0]
    I:BorderColorProgress=-6908266

    # The color that is used for the filled part of the energy bar [range: -2147483648 ~ 2147483647, default: -8192]
    I:FilledColorEnergy=-12404481

    # The color that is used for the filled part of the progress bar [range: -2147483648 ~ 2147483647, default: -16777063]
    I:FilledColorProgress=-16777063
}


general {
    # If true, only thousandths of digits are displayed [default: true]
    B:DisplayEnergyThousandths=true

    # If true, the fluid outputs of the current recipe will be displayed [default: true]
    B:DisplayFluidOutputs=true

    # If true, the item outputs of the current recipe will be displayed [default: true]
    B:DisplayItemOutputs=true

    # If true, the EUt of the current recipe will be displayed [default: true]
    B:DisplayRecipeEut=true

    # If true, the work progress will be replaced in the form of seconds [default: true]
    B:DisplaySecondProgress=true

    # If true, the name of the fluid will be displayed [default: true]
    B:ShowFluidName=true

    # If true, the name of the item will be displayed [default: true]
    B:ShowItemName=true
}


