# Configuration file

colour {
    # If this is different from the filledColor then the fill color will alternate [default: FFFFE000]
    S:AlternateFilledColorEnergy=CC42BDFF

    # If this is different from the filledColor then the fill color will alternate [default: FF000099]
    S:AlternateFilledColorProgress=CC1E90FF

    # The color that is used for the background of the progress bar [default: 0]
    S:BackgroundColorEnergy=0

    # The color that is used for the background of the progress bar [default: 0]
    S:BackgroundColorProgress=0

    # The color that is used for the border of the energy bar [default: 0]
    S:BorderColorEnergy=CC97FFFF

    # The color that is used for the border of the progress bar [default: 0]
    S:BorderColorProgress=CC00BFFF

    # The color that is used for the filled part of the energy bar [default: FFFFE000]
    S:FilledColorEnergy=CC42B8FF

    # The color that is used for the filled part of the progress bar [default: FF000099]
    S:FilledColorProgress=CC4169E1
}


general {
    # If true, only thousandths of digits are displayed [default: true]
    B:DisplayEnergyThousandths=true

    # If true, the fluid outputs of the current recipe will be displayed [default: true]
    B:DisplayFluidOutputs=true

    # If true, the item outputs of the current recipe will be displayed [default: true]
    B:DisplayItemOutputs=true

    # If true, the EUt of the current recipe will be displayed [default: true]
    B:DisplayRecipeEut=false

    # If true, the work progress will be replaced in the form of seconds [default: true]
    B:DisplaySecondProgress=true

    # If true, the name of the fluid will be displayed [default: true]
    B:ShowFluidName=true

    # If true, the name of the item will be displayed [default: true]
    B:ShowItemName=false
}


